/*PALLETE 
cream = #EEE8DA
evergreen = #5C6458
teracota = #B5693D
peach = #E9C9BB
*/

/*variables */
:root{
  --teracota: #da582d;
  --bordeaux: #660000;
  --off-white: #F3EBE1;
  --cream: #e7c397;
  --offset-plano: 30px;
}

@font-face {
  font-family: AC-Cyberella;
  src: url(assets/ACCyberella/AC-Cyberella_Unicode.ttf);
}

@font-face {
  font-family: Junicode;
  src: url(assets/junicode/Junicode.ttf);
}


@font-face {
  font-family: kreadon;
  src: url(assets/kreadon/Kreadon-fonts/fonts/ttf/Kreadon-Regular.ttf);
}

@font-face {
  font-family: Miamanueva;
  src: url(assets/miama_nueva/miamanueva/miamanueva.ttf);
}


/* Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #660000; /* light gray */
  display: flex;
  justify-content: center;
  font-family: "kreadon";
}

/* Canvas Container */
.canvas {
  background: white;
  width: 100%;
  max-width: 400px !important ; 
  min-height: 100vh;
  padding: 0rem;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
}

/* boxes */
.front-with-names {
    color: var(--bordeaux);
    background:  var(--off-white);
    font-size: 30px;
    padding: 0rem;
}
.invitation-main{
  background: var(--off-white);
  color:  var(--bordeaux);
  font-size: 16px;
  padding: 0rem 0rem 0rem 1rem;
  font-family: "kreadon";
}

.rsvp{
  background: var(--off-white);
  color: var(--bordeaux);
  padding: 1rem 1rem 1rem 1rem;
  justify-content: center;
  position: relative;
  overflow: visible;
}

.details{
  background: var(--off-white);
  color:  var(--bordeaux);
  padding: 0rem 1rem 0rem 1rem;
}

.thank-you-footer{
  font-size: 18px;
  padding: 1rem 0rem 0rem 1rem;
}

.lista-gamou{
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background:  var(--off-white);
  color:  var(--bordeaux);
  padding: 1rem 1rem 1rem 1rem;
}

/*images */

.front-image {
  max-width: 130%;
  height: auto;
  display: block;
  padding-top: 0px;
}

.main-inv-image {
  max-width: auto;
  height: 50%;
  display: block;
  padding-bottom: 0px;
  padding-right: 0px;
}

.rsvp-image{
  height: auto;
  display: block;
  position: absolute;
  left: 0;
  top:45%;
  max-width: 70%;
}

.thank-you-image{
}

iframe{
  width:100%;
  height:350px;
  border:0;
  padding: 5px 0px 5px 0px;
}

/*buttons */

a.button{
  background-color: var(--bordeaux);
  border: 1px solid var(--bordeaux);
  padding: 1px 5px 1px 5px;
  color: var(--off-white);
  text-decoration: none;
}

/* Text styling */

.handwrite{
  font-family: "Junicode";
  font-size: 35px;
}

.front-text{
  margin-top: 90%;
  margin-left: 10%;
}

.plus-on-front{
  font-family: "Miamanueva";
}

.subheadings{
  font-family: "Junicode";
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 3px;
}

.contact-right-align{
  text-align: right;

}

/*columns */

.column {
  float: left;
}

.left {
  width: 40%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.right {
  width: 60%;
  height: 100%;
  display: flex; 
  flex-direction: column;
  justify-content: flex-end; 
}

.left-main-inv {
  width: 60%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.right-main-inv {
  width: 40%;
  height: 100%;
  display: flex; 
  flex-direction: column;
  justify-content: flex-end; 
}

.right-bottom {
position: absolute;
right: 0;
bottom: 0;
display: flex; 
justify-content: flex-end; 
}

.row {
  width: 100%;
  position: relative;
}
