/*PALLETE 
cream = #EEE8DA
evergreen = #5C6458
teracota = #B5693D
peach = #E9C9BB
*/

/*variables */
:root{
  --teracota: #da582d;
  --green-deep: #5C6458;
  --off-white: #faf0de;
  --cream: #e7c397;
  --offset-plano: 30px;
}

@font-face {
  font-family: AC-Cyberella;
  src: url(assets/ACCyberella/AC-Cyberella_Unicode.ttf);
}

/* Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f3f4f6; /* light gray */
  display: flex;
  justify-content: center;
  font-family: "Playpen Sans", serif;
  font-size: 18px;
}

/* Canvas Container */
.canvas {
  background: white;
  width: 100%;
  max-width: 400px !important ; 
  min-height: 100vh;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
}

/* boxes */

.front-with-names {
    color: var(--green-deep);
    background:  var(--off-white);
    font-size: 48px;
    padding: 1rem;
}
.invitation-main{
  background: var(--off-white);
  color:  var(--teracota);
  font-size: 18px;
  padding: 1rem;
}

.rsvp{
  background: var(--cream);
  color: var(--off-white);
  padding: 1rem;
  justify-content: center;
}

.details{
  background: var(--green-deep);
  color:  var(--off-white);
  padding: 1rem;
}

.thank-you-footer{
  font-size: 18px;
  padding: 1rem;
}

.plano{
  position: relative;
  height: 400px;          
  margin: 0 auto;
  max-width: 250px ;
}

.plan-horizontal-wrapper{
  position: relative;
  height: 60px;
  width: 250px;
  margin: 0 auto;
}

.rsvp-content{
  position: relative;
  z-index: 1;
  margin-top: 0;
  display: flex;
}

/*images */

.front-image {
  max-width: 100%;
  height: auto;
  display: block;
  padding-top: 100px;
 

}

.plan-image {
  position: absolute;
  right: 0;
  transform: translateY(-50%);
  width: 60px;
  z-index: 1;  
}

.plan-image-alt{
   width: 120px;
}

iframe{
  width:100%;
  height:350px;
  border:0;
  padding: 5px 0px 5px 0px;
}

.rsvp-border{
  position: absolute;
  z-index: 0; 
  width: 320px;
  height:100%;
  margin: auto;
  object-fit: fill;
}

.rsvp-ribbon{
  width:23%;
  display: block;
  margin: auto;
}

/*buttons */

button {
  border-radius: 4px;
  border: 2px solid var(--teracota);
  padding: 5px 10px;
  background-color: transparent;
  color: var(--off-white);
}

.map-button{
  background-color: var(--off-white);
  border: 2px solid var(--off-white);
  color: var(--teracota);
}

a.button{
  border-radius: 4px;
  background-color: var(--off-white);
  border: 2px solid var(--off-white);
  color: var(--teracota);
  text-decoration: none;
}


.rsvp-button{
  background-color: var(--teracota);
   margin: 0 auto;
    display: block;
}

/*form elements */
.rsvp-textbox{
  border: none;
  border-bottom: 2px solid var(--off-white);
  background-color: transparent;
}

.notebook-textarea {
  width: 100%;            /* full width of the container */
  height: 70px;          /* taller area to show more text */
  font-size: 16px;        /* readable font */
  line-height: 18px;      /* spacing between lines */
  padding: 12px;
  border: 2px solid var(--off-white);;
  background-color: transparent;
}

/* Text styling */

.invitation-text-prosklisi{
  text-align: center;
}

.date-time{
  font-size: 100px;
  color: var(--green-deep);
}

.details-text{
  font-size: 80px;
  color: var(--off-white);
  text-align: center;
}

.lista-gamou{
  text-align: center;
}

.text-programma {
  position: relative;
  width: 100px;
  z-index: 1;
}

.text-left-align{
  margin-right: auto;
  margin-left: 0;
}

.text-right-align{
  margin-left: auto;
  margin-right: 0;
  text-align: right
}

.rsvp-title{
  font-size: 100px;
  color: var(--green-deep);
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.details-heading{
  font-size: 30px;
}

.handwrite{
  font-family: "Mansalva";
}

/* grammes programmatos */

.vertical-line {
  position: absolute;
  left: 50%;
  height: 360px;
  top: 0;
  bottom: 0;
  width: 3px;
  background-color: var(--green-deep);
  transform: translateX(-50%);
  z-index: 0;
}

.horizontal-line {
  height: 3px;
  width: 120px;
  background-color: var(--green-deep);
  position: relative;
  margin: 0 auto;
  transform: translateY(-50%);
  z-index: 1;
}

/*RSVP columns */

.column {
  float: left;
}

.left {
  width: 40%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.right {
  width: 60%;
}

.left-alt {
  width: 60%;
  height: 100%;;
}

.right-alt {
  width: 40%;
}

.row {
  width: 100%
}

.center {
   width: 100%;
}